// Default config
body, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
ul, li {
  display: block;
}
h1, h2, h3, h4, h5, h6, ul, li, div, section, form, input, button, span, p, img, a {
  box-sizing: border-box;
}
a, a:hover, a:active, a:focus {
  text-decoration:none;
}
input:hover, input:focus {
  outline: none;
}

@dark-grey-color: #777777;
@light-grey-color: #dcdcdc;

.dark {
  background: @dark-grey-color;
}
.light {
  background: @light-grey-color;
}
// HEADER
body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 22px;
}
.header {

}
.container {
  width: 960px;
  margin: 0 auto;
}
// HEAD
.head {
  padding: 24px 0 19px;
  display: flex;
  justify-content: space-between;
}
